	<div ng-controller="calendarController as calendar">
			<div ng-repeat="events in calendar.events">
				<h3 ng-model="events.title">{{events.title}}</h3>
				<span ng-model="events.date">{{events.date}}</span>
				<div ng-click="calendar.removeEvent(events.id)">Remove</div>
			</div>
		    <form ng-submit="calendar.addEvent()">
	       	 	<input type="text" ng-model="calendar.eventTitle" placeholder="Event Title" />
	       	 	<input type="text" ng-model="calendar.eventDate" placeholder="Event Date" />
	        	<input type="submit" class="btn" value="Add Event"/>
	      	</form>
	</div>
	<br />
	<div class="calendar" ng-init="calendar.initCalendar()">
		<div class="day-label" ng-repeat="day_label in calendar.day_labels">{{day_label}}</div>
		<div class="day-box" ng-repeat="pad_day in calendar.days_pad">&nbsp;</div>
		<div class="day-box" ng-repeat="day in calendar.days">{{day.day_of_month}}</div>
	</div>
