* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 1%;
}

.calendar {
    width: 100%;
    background-color: #fefefe;
    border-top: 1px solid #bababa;
    border-left: 1px solid #bababa;
    display: flex;
    flex-wrap: wrap;
}

.calendar .day-box {
    padding: 1%;
    width: 14.28%;
    border-right: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
    min-height: 150px;
}

.calendar .day-label {
    padding: 1%;
    width: 14.28%;
    background-color: #bababa;
    color: #fff;
    min-height: 50px;
}

.calendar .day:last-child {
    'border: 1px solid #bababa;
}

.event {
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: #000088;
    color: #fff;
    padding: 5px;
}

.event.blue {
    background-color: #000088;
}

.event.green {
    background-color: #00aa00;
}

.event.yellow {
    background-color: #ffcc00;
}

.event.orange {
    background-color: #ff7f00;
}

.event.red {
    background-color: #cc0000;
}

.event .btn {
    float: right;
}


